@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
div{ width:620px; height:60px; background:#39f; margin-bottom:10px;}
i{ width:620px;height:60px; overflow:hidden;} 
b,span{ width:200px; height:35px; background:#999;  float:left;}
em{ width:200px; height:35px; background:#000;  float:left; margin:0 10px;}

