*{margin:0;padding:0;list-style:none;}
body{background:#fff;}
.header{background:#f7f6f6;width:298px;height:248px;border:1px solid #dfdfdf;}
.box{width:248px;margin:0 auto;}
.top{height:50px;}
.top h2{font-size:16px;}
.top ul{}
.top ul li a{float:left;width:10px;border:1px solid #e6e6e7;}
.middle{
	background:url(../../../../Documents/Unnamed%20Site%202/3.png) no-repeat;
	border:1px solid #ececec;
	margin:0 0 10px 0;
	clear:both;
}
 .bottom{
	 background:url(../../../../Documents/Unnamed%20Site%202/4.png) no-repeat;
	 border:1px solid #ececec;
	 }
