@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-17 16:14:24
 * @version $Id$
 */

*{margin:0;padding:0;list-style:none;}
.box{
	width:650px;
	height:172px;
    margin:0 auto;
}
.top{
	width:650px;
	height:42px;
	border-top:1px solid #0873c0;

}
.clearfix{zoom:1;}
.clearfix:after{
	display:block;content="";clear:both;
}

.blue1{
	width:100px;
	height:30px;
    float:left;
    margin-top:10px;
    background:#0873c0;

}
.blue2{
	width:100px;
	height:30px;
	float:right;
    margin-top:10px;
    background:#0873c0;
}

.bottom{
	width:650px;
	height:120px;	
	overflow:hidden;
}
.bottom .list1,.list2,.list3{
	width:210px;
	height:120px;
	background:#cccccc;
	float:left;
	margin-top:10px;
}
.list1,.list2{
    margin-right:10px;
}
