@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;text-decoration:none;font:12px "微软雅黑";color:#000;}
div{border-bottom:1px dashed #e5e5e5;
	padding-left:12px;
    margin-left:20px;
	padding-right:20px;}
.title{
	color:#FF6600;
	background:#E5E5E5;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	
	display:inline-block;}
dd{border-right:#cecece 1px solid;
   padding-right:20px;
   margin-left:20px;
   margin-top:24px;
   margin-bottom:24px;
   display:inline-block;}
.bold{font-weight:bold;
      margin-left:14px;}
.title:hover{background:#f60;
             color:#fff;}
div:hover{background:#efefef;}
a:hover{color:#F30;}


