@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none; text-decoration:none;}
.left{float:left;}
.right{width:170px;
       height:228px;
	   background:#99FF00;
	   float:left;
	   margin-top:20px;
	   margin-left:10px;
	   }
.top{width:338px;
     height:60px;
	 background:#00CCFF;
	 clear:both;
	 margin-left:10px;
	 margin-top:20px;}
.box1{width:164px;
     height:74px;
	 background:#0066FF;
	 float:left;
	 margin-top:10px;
	 margin-left:10px;
	 }
.box2{width:164px;
     height:74px;
	 background:#999999;
	 float:left;
	  margin-top:10px;
	 margin-left:10px;
	 }
.bottom{width:348px;
  height:158px;}

