<!DOCTYPE HTML>
<html ng-app="test">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<style>
	*{ margin:0;padding:0; list-style:none;}
	li{ width:500px; height:40px; line-height:40px; background:#ccc; margin:10px;}
</style>
<script src="angular.js"></script>
<script>
	app=angular.module('test',[]);
	app.controller('aaa',function($scope,$http){
		$scope.arr=[];
		$scope.show=function(){
			$http.get('1.txt',{}).success(function(arr){
					$scope.arr=arr;
				}).error(function(){
				
					alert('失败了');	
			});
			
		};	
	});
</script>
</head>

<body ng-controller="aaa">
	<input type="button"  value="按钮" ng-click="show()" />
	<ul>
		<li ng-repeat="item in arr">{{item}}</li>
	</ul>
</body>
</html>
