/* CSS Document */
*{padding:0;margin:0;}
body{font-size:12px;}
a{color:#000;text-decoration:none;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}

/*下面是清除浮动*/
.clearfix:after{display:block;content:"";clear:both;}
.clearfix{zoom:1;}