/* reset
-----------------------------------------------*/
html {
    color:#333;
    font-family:"Microsoft YaHei";
}
body{
    background: #fff;
    height: 100%;
    font-family:"Microsoft YaHei";
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
body,button,input,select,textarea {
    font:12px/1 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
input,select,textarea {
    font-size:100%;
    outline: none;
}
table {
    border-collapse:collapse;border-spacing:0;
}
th {
    text-align:inherit;
}
fieldset,img {
    border:0;
}
iframe {
    display:block;
}
abbr,acronym {
    border:0;font-variant:normal;
}
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
ol,ul {
    list-style:none;
}
i {
	font-style: normal;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
a {
    color: #555;
    outline: none;
}
ins,a {
    text-decoration:none;
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1;
}
.fn-hide {
    display:none;
}
.fn-show-block,
.fn-show {
    display:block;
}
.fn-show-iblock {
    display: inline-block;
}
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}
.fn-rmb {
	font-family:"Microsoft YaHei";
}
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* reset
-----------------------------------------------*/

/* nav */
.m-nav{ width: 100%; height:41px; background: #d5d5d5; }
.m-nav .m-logo{ float: left; height:41px; }
.m-nav .m-logo2{ float: left; height: 41px; margin-right:40px;}
.m-nav .m-nav-tab{ float: left; height: 41px; }
.m-nav .m-nav-tab .m-nav-tab-list{float: left; width: 100px; line-height: 41px; position: relative; cursor: pointer;}
.m-nav .m-nav-tab .m-nav-tab-list:hover{ background: #bfbfbf; }
.m-nav .m-nav-tab li.tab-hover{background: #bfbfbf;}
.m-nav .m-nav-tab .m-nav-tab-list .link{ display: block; color:#343434; font-size: 14px; text-align: center; font-weight:bold;}
.m-nav .m-nav-tab .m-nav-tab-list .m-nav-tab-con{
    position: absolute; top: 41px; left: 0; width: 100px; z-index: 2; display: none;
}
.m-nav .m-nav-tab .m-nav-tab-list .m-nav-tab-con li{
    line-height: 20px;
    text-align: center;
    background: #fff;
}
.m-nav .m-nav-tab .m-nav-tab-tit{ display: block; text-align: center; height:41px;}
.m-nav .m-nav-tab .m-nav-tab-tit p{ vertical-align: middle; display: inline-block;color:#343434; font-size: 14px;  font-weight:bold;}
.m-nav .m-nav-tab .m-nav-tab-tit .icon-down{ vertical-align: middle; display: inline-block; height:41px; width: 14px; background: url(./img/icon3.png) center no-repeat;  }
.m-nav .m-nav-tab .m-nav-tab-tit .icon-up{ display: inline-block; height:41px; width: 14px; background: url(./img/icon4.png) center no-repeat;  }

.m-content{ position: relative; width: 100%; overflow: hidden;}
.m-content-map{ width: 100%; }
.m-content-map img{ width: 100%; height: auto; }
.m-side-wrap{ position: absolute;left: 0; top: 0; width: 300px; }
.m-side{ position: absolute; width: 300px; background:#fff; overflow-y:auto; overflow-x:hidden; }
.m-side-wrap .side-info{ width: 20px; height:50px; background:#fff url(./img/icon9.png) no-repeat center; cursor: pointer; position: absolute; right: -21px; top:50%; margin-top:-25px; border: 1px solid #f0f0f0; border-right: none; }
.m-side-wrap .side-info-hide{ background:#fff url(./img/icon10.png) no-repeat center;}
.m-side-tab{ height:29px; border-bottom:1px solid #82b0d2; padding: 11px 0 0 0; }
.m-side-tab li{ width:49.5%; cursor: pointer; float: left; margin-left:1px; height:27px; border-bottom: 2px solid #fff; line-height: 27px; text-align: center; color: #fff;  font-size: 14px; background: #3891d5;  }
.m-side-tab li:hover,.m-side-tab li.tab-on{ border-bottom: 2px solid #0460a5; background: #0460a5;  }
.m-side-content .m-side-area{ height:212px; border-bottom: 1px solid #f0f0f0; overflow-y: auto; overflow-x: hidden; }
.m-side-content .m-side-area li{ height: 41px; padding-left:33px; border-bottom: 1px dashed #b6c8d3; color: #707070; line-height: 40px; background:#fcfcfc url(./img/icon5.png) no-repeat 14px center;  }
.m-side-content .m-side-area li.icon{ background:#fcfcfc url(./img/icon6.png) no-repeat 14px center;  }
.m-side-search{ padding-top: 16px;  }
.m-search-list{  margin-bottom: 2px;  }
.m-search-list span{width: 50px; float: left; line-height:20px; text-align: right; color: #898989; }
.m-search-list .m-search-con{ float: left;}
.m-search-list .m-search-con .m-search-con-input{ width: 222px; height:22px; border: 1px solid #e9e8e8; line-height: 22px; text-indent: 5px; vertical-align: middle; color: #898989; }
.m-side-search .pb12{ padding-top:5px; padding-bottom:12px; margin-bottom:0;}
.m-search-con-addr{ line-height: 24px; color: #898989; height:24px; width: 223px; overflow: hidden;  text-overflow:ellipsis; white-space:nowrap;}
.m-search-con-list{ width: 250px;}
.m-search-con-list li{ line-height: 20px; margin-right: 7px; padding:0px 2px; color: #468fd2; float: left; cursor: pointer;}
.m-search-con-list li:hover,.m-search-con-list li.on{ background: #ff9933; color:#fff; }
.m-side-range{ padding-bottom: 20px; }
.m-side-range h3{ line-height: 30px; background: #f6f6f6; text-indent: 23px; font-size: 13px; color: #707070; margin-bottom: 8px; }
.m-range-list{ margin-bottom: 5px; position: relative; cursor: pointer; }
.m-range-list span{ width: 75px; float: left; line-height: 24px; text-align: right; color: #898989; }
.m-range-list .m-range-sele{ position: relative; float: left; width: 197px; height:22px; border: 1px solid #e9e8e8;  }
.m-range-list .m-range-sele .m-range-sele-tit{ width: 177px;  line-height: 22px; text-indent: 5px;   }
.m-range-list .m-range-sele .icon{ position: absolute; top: 0px; right: 0px;   width: 22px; height:22px; background:url(./img/icon7.png) center no-repeat;  }
.m-range-list .j-select-on .icon{position: absolute; top: 0px; right: 0px;   width: 22px; height:22px; background:url(./img/icon8.png) center no-repeat; }
.m-range-list .m-range-con{ border:1px solid #e9e8e8; width: 197px; position: absolute; top:22px; left: 75px; background: #fff; z-index: 1;  display: none;}
.m-range-list .m-range-con li{ line-height: 20px;  text-indent: 5px; }
.m-range-list .m-range-con li:hover{background: #f6f6f6;}

.m-analyze-wrap{ position: absolute; top: 0; right: 0; width: 400px;}
.analyze-info{ width: 20px; height:50px; background:#fff url(./img/icon10.png) no-repeat center; cursor: pointer; position: absolute; left: -21px; top:50%; margin-top:-25px; border: 1px solid #f0f0f0; border-left: none; }
.analyze-info-hide{ background:#fff url(./img/icon9.png) no-repeat center }
.m-analyze{  width: 400px; background: #fff; overflow-y:auto;}
.m-analyze-tab{ height:29px; border-bottom:1px solid #82b0d2; padding: 11px 0 0 0; }
.m-analyze-tab li{ width: 33%; cursor: pointer; float: left; margin-left:1px; height:27px; border-bottom: 2px solid #fff; line-height: 27px; text-align: center; color: #fff;  font-size: 14px; background: #3891d5;  }
.m-analyze-tab li:hover,.m-analyze-tab li.tab-on{ border-bottom: 2px solid #0460a5; background: #0460a5;  }
.m-latitude-search{ padding:9px 0 10px 0; height: 24px; position: relative; }
.m-latitude-search span{ float: left; width: 60px; padding-right: 10px; line-height: 24px; text-align: right; color:#707070; }
.m-latitude-sele{ width: 208px; height: 22px; border: 1px solid #e6e5e5; float: left; position: relative; }
.m-latitude-sele .m-latitude-tit{ padding-left: 10px; line-height: 22px; width: 180px; overflow: hidden;  }
.m-latitude-sele .icon{ position: absolute; top: 0px; right: 0px;   width: 22px; height:22px; background:url(./img/icon7.png) center no-repeat;  }
.m-analyze-tab-content .j-select-on .icon{ position: absolute; top: 0px; right: 0px;   width: 22px; height:22px; background:url(./img/icon8.png) center no-repeat;  }
.m-latitude-con{ width: 208px;  border: 1px solid #e6e5e5; position:absolute; top:32px; left: 70px; background: #fff;  }
.m-latitude-con li{ line-height: 20px; text-indent: 10px;  }
.m-latitude-con li:hover{background: #d5d5d5;}
.latitude-search-button{ float: left; width: 90px; height:24px; margin-left: 5px; text-align: center; line-height: 24px; color:#fff;  cursor: pointer; background: #0460a5; }
.m-analyze-table{ width: 400px; overflow:auto;  }
.m-analyze-table table{ width: 1430px; text-align: center;  }
.m-analyze-table th{ width: 55px; height:35px; background: #f6f6f6; color:#898989; line-height: 35px; text-align:right; padding-right:10px;}
.m-analyze-table td{ width: 55px; height:30px; color:#898989; line-height: 35px; text-align:right; padding-right:10px; border-bottom:1px solid #f2f2f2;}
.m-analyze-table tbody{ margin-top:3px; }
.m-analyze-table tr.tr-on td{ background: #3891d5; color:#fff;}
.m-analyze-table tr:hover,.m-analyze-table tr.active{ background:#3891d5;}
.m-analyze-table tr:hover td,.m-analyze-table tr.active td{ color:#fff; }
.m-analyze-table .orange{ background:#ff8d02; border-bottom:1px solid #ff8d02;}


.m-content-search{ position: absolute; width: 580px; top:9px; left: 50%; margin-left: -325px;  }
.m-content-city{ width: 78px; height:30px; background: #fff; border: 1px solid #dddad8; float: left; position: relative; }
.m-content-city-tit{ width: 58px; cursor: pointer; overflow: hidden; line-height: 30px; text-align: center; }
.m-content-city .icon{ position: absolute; right:0px; top:0px; width: 20px; height:30px; background: url(./img/icon7.png) no-repeat 0 center; }
.m-content-city-wrap .j-select-on  .icon{ position: absolute; right:0px; top:0px; width: 20px; height:30px; background: url(./img/icon8.png) no-repeat 0 center; }

.m-content-search .m-city-con{ position: absolute; width: 78px; top:31px; left: 0px; border: 1px solid #dddad8; }
.m-content-search .m-city-con li{ line-height: 20px; text-indent: 10px; background: #fff; cursor: pointer; }
.m-content-search .m-city-con li:hover{background: #d5d5d5;}
.search-buttom{ float: left; width: 32px; height:30px; border:1px solid #dddad8; background: #fff url(./img/icon11.png) no-repeat center; margin-left: 10px; }
.search-buttom:hover{ background: #0460a5 url(./img/icon12.png) no-repeat center; }
.landmark-buttom{ margin-left:5px; float: left; width: 32px; height:30px; border:1px solid #dddad8; background: #fff url(./img/icon13.png) no-repeat center;   }
.landmark-buttom:hover{ background: #0460a5 url(./img/icon14.png) no-repeat center; }
.m-search-info{ width: 299px; height: 30px; border: 1px solid #e6e5e5; float: left; position: relative; background: #fff; margin-left: 20px;}
.m-search-info .m-search-content-tit{ padding-left: 10px; line-height: 30px; width: 275px; overflow: hidden;  }
.m-search-info .icon{ position: absolute; top: 0px; right: 0px;   width: 22px; height:30px; background:url(./img/icon7.png) center no-repeat;  }
.m-search-info-wrap .j-select-on .icon{ position: absolute; top: 0px; right: 0px;   width: 22px; height:30px; background:url(./img/icon8.png) center no-repeat;  }
.m-search-content{ width: 299px;  border: 1px solid #e6e5e5; position:absolute; top:31px; left: 183px; background: #fff;  }
.m-search-content li{ line-height: 20px; text-indent: 10px; cursor: pointer;  }
.msearch{ width: 78px; height:30px; border: 1px solid #dddad8; background: #3891d5; color:#fff; text-align: center; line-height: 30px; float: left; margin-left: 10px;  }
.msearch:hover{ background:#0460a5;}
.m-search-content li:hover{background: #d5d5d5;}

.m-content-map .position1{ position: absolute; top:50px; left: 50%; background: url(./img/icon16.png) no-repeat center; width: 21px;height:31px;  }
.m-content-map .position2{ position: absolute; top:100px; left: 50%; background: url(./img/icon17.png) no-repeat center; width: 26px;height:33px; }

.m-side-range-tab{ height:22px; border-bottom:1px solid #f0f0f0; padding: 5px 0 0 7px; margin-bottom:7px; }
.m-side-range-tab li{ width: 90px; cursor: pointer; float: left; margin-right:2px; height:20px; border-bottom: 2px solid #fff; line-height: 20px; text-align: center; color: #fff;  font-size: 14px; background: #88bde6;  }
.m-side-range-tab li:hover,.m-side-range-tab li.tab-on{ border-bottom: 2px solid #68a0c9; background: #68a0c9;  }















