*{margin:0;padding:0;list-style:none;}
.header{width:960px;height:600px;border:1px solid #666;margin:10px 0 0 10px;}
.div1{width:960px;height:50px;background:#0CF;text-align:center;line-height:50px;}
li{float:left;text-align:center;line-height:500px;}
li.left{width:150px;height:500px;background:#CFF;}
li.middle{width:600px;height:500px;}
li.right{width:209px;height:500px;border-left:1px solid #CFF;}
.div3{width:960px;height:50px;background:#0CF;text-align:center;line-height:50px;clear:both;}