@charset "utf-8";
/* CSS Document */

.showAuto{ width: 1200px; margin: 0 auto;}
body{ background: #fff; font-size: 12px; color: #666;}
a{ color: #666;}

/*头部*/
.head_bg{ height: 39px; border-bottom: 1px solid #eee; background: #F5F5F5;}
.head_bg ul{ float: right; padding-top: 11px;}
.head_bg li{ float: left; padding-right: 16px; border-right: 1px dashed #cbcbcb; 
 			line-height: 18px; position: relative; padding-left: 15px;}
 .head_bg li span{ position: absolute;right: 15px;top:1px; width: 19px; 
 			height: 15px; background: #999; color: #fff; text-align: center; 
 		 line-height: 15px; font-weight: bold; border-radius: 10px;}
.head_bg li i{ position: absolute;top: 0; background: url(../img/mls_ico.png) no-repeat;}
.head_bg .wx_li i{ background-position: -130px 0; width: 16px; height: 16px; right:66px;}
.head_bg .qq_li i{ background-position: -189px -21px;width: 15px; height: 16px; 
			right:60px; }
.head_bg .qq_li,.head_bg .gwc_li,.head_bg .dd_li{padding-left: 37px;}
.head_bg .gwc_li{ padding-right: 41px;}
.head_bg .gwc_li i{background-position: 0 -164px;width: 19px; height: 15px;right:104px;}
.head_bg .dd_li i{background-position: -223px -45px;width: 13px; height: 15px;right:72px;}
.head_bg .xz_li i{background-position: -171px -45px;width: 10px; height: 16px;right:68px;}
.head_bg .xz_li{ padding-left: 34px;}


/*搜索+log*/
.h_search { height: 66px;}
h1{ float: left; width: 106px; height: 21px; padding-top: 15px; padding-right: 254px;}
h1 a{display: block; background: url(../img/logo.png) no-repeat;width: 106px; height: 36px; text-indent: -9999em;}
.search_box{ float: left; width: 460px; height: 30px; border: 2px solid #ff6599;
		 margin-top: 17px; line-height: 30px;}
.search_bb{ float: left; width: 69px; height: 21px; padding-top: 9px;  
	text-align:center;border-right: 1px solid #e6e6e6; position: relative;}
.search_bb h4{ position: relative; }
.search_bb h4 i{  position: absolute;right: 10px; top: 3px; background: url(../img/mls_ico.png) no-repeat -22px -70px;width: 5px; height: 3px;}
.search_bb :hover i{ background-position: -32px -70px;}
.search_bb ul{ display: none; position: absolute; left: 0; top:30px; width: 67px; height: 100px;
		border: 1px solid #e6e6e6; border-top: 2px solid #fff;}
.search_bb li{ width: 69px;}
.search_bb:hover ul{ display: block;}
.search_m{float: left; position: relative; width: 390px;}
.search_m input{ width: 274px; padding-left: 26px; height: 30px;}
.search_m span{ position: absolute; left:8px; top:8px;background: url(../img/mls_ico.png) no-repeat left -69px;width: 14px; height: 14px;}
.search_m .searchBtn{position: absolute; font-size: 14px; color: #fff; width: 92px; height: 34px; 
		line-height: 34px; text-align: center; right: -2px; top:-2px; background: #ff6599;}

/*导航*/
.nav_bg{ background:#ff6599; height: 40px; font-size: 14px;line-height: 40px;}
.nav{ width: 996px; padding-left: 126px; padding-right: 78px;}
.nav li{ float: left;  }
.nav a{ display: block; color: #fff; font-weight: bold; padding-left:14px;
 padding-right: 15px; position: relative;}
.nav li i{ position: absolute;right:15px; top:18px; width: 0; height: 0; border: 3px solid transparent;
	border-top: 3px solid #fff;}
.nav .br28_li i{right:17px;}
.nav li:hover i{ border-top: 3px solid transparent;border-bottom: 3px solid #fff;top:15px; }

/*main*/
.main{ margin: 0 auto; position: relative;}
.t_img{ position: absolute; left: 50%; margin-left: -1000px;}
.main_content{ position: relative;}
.main_list{ position: absolute;left: 0; top:0; width: 238px;
		 border: 1px solid #e6e6e6; padding:0 19px; background: #fff;}
.main_list dl{ height: 115px; border-bottom: 1px dotted #c8c8c8;}
.main_list dt{ margin-top: 12px; margin-bottom: 8px; 
	background: url(../img/hot.png) no-repeat; height: 17px; width: 56px;}
.main_list dd a{ margin-right: 15px; line-height: 24px;}
.main_list .yf_dt{ background-position:0 -37px; }
.main_list .xz_dt{ background-position:0 -76px; }
.main_list .bb_dt{ background-position:0 -120px; }
.main_list .ps_dt{background-position:0 -158px; }









