@charset "utf-8";
/* CSS Document */


/*清除默认样式*/
body,div,p,h1,h2,h3,h4,h5,h6,span,ul,ol,li,dl,dd,dt,a,i,strong,b,em img,form,input{ margin:0; padding:0;}
li{ list-style-type:none;}
a{text-decoration:none; }
.clearFix:after{ clear:both; display:block; content:" ";}

/*left*/
body{ color:#333; font-size:12px;}

.box{ width:980px;}
.left{ float:left;width:710px;overflow:hidden;}
.left ul{ width:735px;}
.left h3{border-bottom:3px solid #FF7A01; background:url(../images/tit.png) no-repeat; color:#FFF; padding:8px 0 0 15px; font-size:14px;height:22px;}
.left li{float:left; width:332px; height:112px; border:1px solid #999; padding:8px 0 0px 8px; margin:12px 25px 0 0;}
.left img{float:left;}
.left-txt{float:left; padding:5px 0 0 10px;} 
.left-txt h4{ font-size:15px; line-height:15px;}
.left-txt div{ padding-top:11px; line-height:12px; }
.left-txt p{ padding:15px 0 11px 0;line-height:12px; width:140px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.left-txt a{display:block; text-align:center; color:#fff; background:#5f83ce; line-height:23px; width:85px;}

/*right*/
.right { float:right;}
.right img{ display:block;}
.right h4{ width:234px; line-height:39px; font-size:13px; font-weight:normal; padding-left:14px;border:1px solid #d3d3d3; border-top:3px solid #FF7A01; margin-top:10px;}
.search dt{ width:216px; height:23px; background:#f2f2f2; padding:8px 16px 9px 16px; font-size:12px;line-height:12px; border:1px solid  #d3d3d3;}
.search .text{ width:155px;height:24px;background:#fff; border:1px solid #d3d3d3; color:#a9a9a9; padding-left:5px;}
.search .btn{ width:46px; height:26px; color:#fff;background:#444;}
.search ul{ width:232px; height:223px; border:1px solid  #d3d3d3; border-top:none; padding:16px 0 8px 16px;}
.search ul li{ font-size:13px; line-height:28px; color:#333; }