@charset "utf-8";
/* CSS Document */

/*清除默认样式*/
body,div,p,h1,h2,h3,h4,h5,h6,span,ul,ol,li,dl,dd,dt,a,i,strong,b,em img,form,input{ margin:0; padding:0;}
li{ list-style-type:none;}
a{text-decoration:none; }
.clearFix:after{ clear:both; display:block; content:" ";}
img{ display:block; border:none;}

/*header*/
.tit-bg{ background:#010101; height:16px;}
.box{ width:1180px; font-size:15px; color:#333; border-bottom:1px solid #ccc;padding-bottom:31px; }

/*left*/
.tit{ width:380px;color:#699F00; padding-bottom:10px; border-bottom:2px solid #85BA4D;} 
.tit h3{ font-size:24px; float:left; line-height:26px;}
.tit a{font-size:12px;line-height:12px;color:#699F00;float:left; margin:10px 0 0 10px;}
.tit span{ float:right; width:35px;height:19px; border:1px solid #e9e9e9; background:url(../images/greenstar.png) no-repeat 5px 3px; padding-left:25px;padding-top:5px;font-size:12px; line-height:12px;color:#333;}

.ct-link{ width:380px; padding-top:8px;}
.ct-link h3{ font-size:20px;line-height:40px;}
.ct-link a{ background:url(../images/dot.png) no-repeat 0 center; padding-left:13px; font-size:16px; color:#333; line-height:32px;}

.tu-link{ width:400px;padding-top:20px; overflow:hidden;}
.tu-link a{ float:left; margin-right:20px;}
.tu-link a i{ display:block; font-style:normal; padding:7px 0 5px 0;}
/*center*/

/*right*/
