@charset "utf-8";
/* CSS Document */
.wrap{
	width:514px;
	height:230px;
}
.left{
	width:336px;
	height:230px;
	float:left;
	margin-right:10px;
}
.l_top{
	width:336px;
	height:60px;
	background:#00ccff;
	margin-bottom:10px;
}
.l_bottom{
	width:336px;
	height:160px;
	
}
.l_bottom_left{
	float:left;
	margin-right:10px;
}
.l_bottom_right{
	float:left;
}
.one , .two , .three , .four{
	width:163px;
	height:75px;
}
.one , .four{
	background:#0066ff;
}
.two , .three{
	background:#999;
}
.one , .three{
	margin-bottom:10px;
}

.right{
	width:168px;
	height:230px;
	background:#99ff00;
	float:left;
}