@charset "utf-8";
/* CSS Document */

.left{
		width:338px;
		height:228px;
		
		margin-right:12px;
		float:left;
		
		
	
	}
.right{
		width:168px;
		height:228px;
		background:#9f0;
		float:left;
	}
	
.top{
		width:336px;
		height:60px;
		background:#0cf;
		
			
	}
.bottom{
		width:336px;
		height:160px;
		margin-top:10px;
		
	
	}
div{
			
		width:168px;
		height:74px;
		float:left;
		
	}
.lanse{
		background:blue;
		margin-right:8px;
	}
.huise{
		background:#ccc;
	}





