@charset "utf-8";
/* CSS Document */
h2{
	border-bottom:1px solid #ccc;
	width:630px;
	height:30px;
	
	}
span{
	border:2px solid #888;
	background:#888;
	width:138px;
	height:2px;
	display:block;


}
ul{clear:left;}