@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; overflow:hidden;}
.box{ width:960px;
      height:600px;
	 margin:0px auto;}
.head, .footer{ width:960px;
       height:50px;
	   background:#4e9ce9;
	   text-align:center;
	   line-height:50px;}
.center{ width:960px;
         height:500px;
		}
.center .cl{ width:678px;
             height:500px;
			 background:#e2e2e2;
			 text-align:center;
			 line-height:500px;
			 float:left;}
.center .cr{ width:270px;
             height:500px;
			 background:#f7f7f7;
			 text-align:center;
			 line-height:500px;
			 float:right;}