@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; overflow:hidden;}
.father{ 
     width:826px; 
	 height:29px;
	 border-top:1px solid #f1f1f1;
	 margin:100px auto;
	padding-top:22px;}
.box{ width:826px;
      height:12px;
	  }
a{ dispalty:inline-block;
   color:#666;
   text-decoration:none;
   font-size:12px;
   text-align:center;
   width:52px;
   height:12px;
   background:url(../img/border.png) no-repeat right;
   padding:0 10px;
   float:left;
   line-height:12px;
  }
 .en{ width:78px; background:#fff;} 