@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; overflow:hidden;}
.box{ width:960px;
       height:600px;
	  margin:0 auto;}
.head, .footer{ width:960px;
       height:50px;
	   background:#4e9ce9;
	   text-align:center;
	   line-height:50px;}
.center{ width:960px;
		 height:500px;
	}
.center div{ text-align:center;
			 line-height:500px;
			 float:left;}
.center .cl{ width:150px;
             height:500px;
			 background:#d3e3e6;
			 
			}
.center .cc{ width:600px;
			height:500px;
			background:#fafafa;
			}
			
.center .cr{   width:208px;
			   height:500px;
			   background:#fafafa;
			   border-left:1px solid #d3e3e6;
			   border-right:1px solid #d3e3e6;
			   
			  }