*{margin:0;padding:0;list-style:none;}
.div1{width:336px;height:230px;}
p{width:336px;height:60px;background:#0cf;margin:0 0 10px 0;}
.ul1{width:336px;height:75px;border:1px solid red;}
.ul1 li{width:163px;height:75px;background:#C63;}
