@charset "utf-8";
/* CSS Document */

body{ background: #fff; font-size: 12px; color: #666;}
.showAuto{width: 1180px; margin: 0 auto;}
a{ color: #666;}
.fr{ float: right;}

/*head*/
.head{ height: 59px; position: relative;}
.head_search{ position: absolute;left: 0; top: 0; width: 100%; height: 59px; background: url(../img/may_bg.jpg) no-repeat -32px 0;}
.head_service{ position: absolute; right: 0; top: 0;}

.head_search h1{ float: left; width: 126px; height: 43px; padding-top: 8px; position: relative; margin-right: 44px;}
.head_search h1 a{ display: block; background: url(../img/logo.png) no-repeat; width: 126px; height: 43px; text-indent: -999em;}
.search{ float: left;width: 380px; height: 28px; border: 1px solid #8EBEFC; position: relative; top: 15px; border-radius: 4px; overflow: hidden;}
.search form{ width: 100%; }
.search input{width:375px; height:28px;box-shadow: 2px 2px 1px 0 rgba(164,203,255,0.25) inset; padding-left: 5px; background: #fff;}
.search button{width: 41px; height: 28px; border-left: 1px solid #A4CBFF; background: #A4CBFF; position: absolute;right:-1px; top: 0;}
.head span{ background: url(../img/header_ico.png) no-repeat;}
.search button span{ background-position:-66px -610px; width: 14px; height: 14px; position: absolute;left: 13px; top:7px;}

.head_service li{ padding-top: 20px;float: left; font-size: 12px; line-height: 15px; height: 15px;color: #b2b2b2;  position: relative;}
.head_service li a{position: relative;color: #4c4c4c; }
.pr20{ padding-right: 20px;}
.pr20 i{ background: url(../img/header_ico.png) no-repeat -61px -471px; width: 19px; height: 13px; position: absolute;right: 69px; top: 3px;}
.pr20 span{ background-position: -63px -260px; width: 7px; height: 4px; position: absolute; right: 7px; top: 7px;}
.head_service li strong{ color: #0066CF;}
.plr10{ padding: 0 10px;}
.pl11{ padding-left: 11px; padding-right: 33px;}
.pl11 span{ background-position:-23px -264px; width: 7px; height: 4px; position: absolute;left: 113px; top: 6px; }
.head_service b{ display: inline-block; background: url(../img/app_Pic.png) no-repeat; width: 141px; height: 42px;}
.pr10{ padding-right: 10px;}
.pr10 span{position: absolute;top: 0px;right: 2px;width: 0;height: 0;border: 5px solid #fff;border-top-color: #ff5613;border-bottom: 0 none;font-size: 0;line-height: 0;}

.head_service .language_li{ position: relative;}
.language_list{  display: none; position: absolute; left: -13px ;top:40px;  width: 140px; background: #E4E7EB; padding:3px;}
.language_list ul{border: 1px solid #b8b8b8; width: 120px; height: 348px; padding: 0 9px;background: #fff;}
.language_list li{ width: 120px; height: 13px; border-bottom: 1px dashed #E4E7EB; padding:7px 0 8px; }
.language_list a{ display:block; background: url(../img/header_ico.png) no-repeat; height: 13px; width: 120px;}
.language_list .language_jt{ background-position: 0 0;}
.language_list .language_ft{ background-position: 0 -19px ;}
.language_list .language_rb{ background-position: 0 -38px;}


/*导航*/
.nav_bg{ background: #2577E3; height: 40px;}
.nav ul{ position: relative;}
.nav .nav_li{ float: left; height: 28px;transition: all 0.2s ease 0s; cursor: pointer; border-top: 3px solid #2577E3; 
	padding-top: 9px; font-family: "Microsoft Yahei";  position: relative;}
.nav_li .nav_h{ font-size: 16px; color: #fff; padding-left: 8px; position: relative;border-right: 1px solid #1D67DD; padding-right: 15px;}

.nav_li a{ color: #fff;}

.nav li i{ background: url(../img/header_ico.png) no-repeat -44px -264px; width: 7px; height: 4px; position: absolute; right: 4px; top: 10px;}
.nav .navactive i{ background-position: -44px -260px;top: 6px;}
.pr7{ padding-right: 7px;}
.nav .navactive{ border-top-color: #FF9915;}
.nav .loading{ position: absolute; right: 0; top: 0; width: 160px; height: 40px; background:#FF9913; padding: 0; border: none;}
.nav .loading a{float: left;border: none; font-size: 14px; line-height: 14px; padding:5px 0 0; position: relative;}
.nav .loading em{float:left;background: url(../img/header_ico.png) no-repeat -52px -213px; width: 34px; height: 31px; }
.nav .loading div{ width: 70px;float: left;}
.nav .loading div i{ right:-12px;  }
.nav .loading  div span{padding: 0 3px;}

.nav .nav_li dl{position: absolute;left: 0;top:40px; width: 1180px; color: #666; }
.nav .nav_li dt{ float: left; width: 100px; height: 22px; background: #74A8ED; color: #fff; text-align: center; line-height: 22px; 
	margin-top: 10px; position: relative; margin-right: 16px;}
.nav .nav_li dt i{ width: 0; height: 0; font-size: 0 ;line-height:0; border: 5px solid transparent;border-left-color:#74A8ED; position: absolute;right:-10px; top:6px; }
.nav .nav_li dd{ float: left;position: relative; padding-left: 22px;}
.nav .nav_li dd a{border: none; color: #666; font-size: 12px;line-height: 42px; padding: 0;}
.nav  .nav_li dd:hover a{ color: #06c;}
.nav .nav_li dl span{background: url(../img/subway_ico.png) no-repeat; position: absolute;top: 14px;left: 0;height: 16px;}
.nav .nav_li .w96_dd{ width: 74px;}
.nav .nav_li .w95_dd{width: 73px;}
.nav .nav_li .w98_dd{ width: 76px;}
.nav .nav_li .w106_dd{width: 84px;}
.nav .nav_li .w97_dd{ width: 75px;}

.nav .nav_li .w96_dd span{ background-position: -1px 0; width: 16px;  }
.nav .nav_li .w95_dd span{background-position: -1px -21px; width: 16px;}
.nav .nav_li .w98_dd span{background-position: 0 -42px; width: 14px;}
.nav .nav_li .w106_dd span{background-position: -1px -63px; width: 19px;}
.nav .nav_li .w97_dd span{background-position: -1px -84px; width: 15px;}

/*预定*/

.banner_bg{ height: 340px; margin-top: 42px;position: relative;}

.banner_bg li{ display: none;}
.banner_bg .active{ display: block;}
.dot{  margin-top: -20px; position: relative;}
.dot p{position: absolute;right: 100px; bottom: 20px; }
.dot a{float:left;background-color: rgba(0,0,0,.2);overflow: hidden;width: 8px;height: 8px;
	margin: 0 4px;border: 2px solid #fff;border-radius: 6px;}
.dot .dot_fff{background-color: #fff;}

.book{  width: 561px; height: 300px;background: #fff; position: relative; bottom: 320px; padding-right: 20px;}
.book ul{width: 60px; padding:0 13px 7px 17px;background: #2577E3; }
.book li{ color: #fff; padding-top: 13px; height: 28px; border-bottom: 1px dotted #fff;
font-size: 16px;}
.book .book_main{  width: 451px; position: absolute; left: 110px; top: 18px;}
.book li.bgfff{ background:#fff;border-left: 4px solid #FF9915; margin-left: -17px; margin-right: -13px; color: #2577E3; padding-left: 13px;}
.book li .book_main{color: #666;}
.book .book_main .book_main_active{ display: block;}

.book_main h4{ height: 24px; line-height: 24px; border-bottom: 2px solid #c4c4c4;}
.book_main h4 a{ float: left; margin-right: 20px; position: relative;}
.book_main h4 i{ display: none;  background: url(../img/bg_line.png) no-repeat 50% -32px; position: absolute;left: 0;bottom:-5px; height: 5px; width: 100%; margin: 0 auto;}
.book_main .i_active i{ display: block;}

.book_main_content { width: 451px; display: none;}
.book_main_content input{ height: 28px; border: 1px solid #ddd; padding-left: 8px;}
.book_main_content div{ padding-top: 16px; float: left;}
.book_main_content div i{ display: inline-block; width: 56px; text-align: right; font-size: 12px; color: #333;}
.w385{ width: 375px;}
.w145{ width: 135px;}

.searchBtn{ position: absolute; right: 27px; bottom: 21px;}
.searchBtn input{ text-shadow: 1px 1px 0 #cf7000;background-color: #ffb000;border: solid 1px #e77c00;width: 145px;height: 33px;color: #fff;font-size: 16px;
font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;cursor: pointer;text-align: center;letter-spacing: 0.4em;text-indent: 0.4em;
box-shadow: 0 1px 0 rgba(95,50,0,0.7);border-radius: 3px;overflow: visible;}


/*猜你喜欢*/

/*模版*/
.main,.ticket,.travelServe{ position: relative;}
.main h2,.ticket h2,.travelServe h2{ font-size: 16px; color: #06c; border-bottom: 2px solid #3983E5; position: relative; 
	font-family: 'Microsoft Yahei';padding-top: 29px;}
.main h2 i,.ticket h2 i,.travelServe h2 i{ float: left; line-height: 25px;}
.main .hr,.ticket .hr{float: right; font-size: 12px;color: #06c;height: 23px; position: relative; margin-top: 13px;}
.main .hr span,.ticket .hr span{ display:block; height: 22px;line-height: 22px; border: 1px solid #fff;border-bottom:none;
 	padding-left: 5px; padding-right: 6px; position: relative;z-index: 2;}
.main h2 b,.ticket h2 b,.travelServe h2 b{ width: 0; height: 0; border: 6px solid transparent; border-bottom-color: #06c; position: absolute; left: 34px; bottom: 0;}
.main h2 em,.ticket h2 em{background:url(../img/guess.png) no-repeat;display: inline-block;}
.main li{ float: left; position: relative;}
.main li a{ display: block; width: 220px; height: 110px; overflow: hidden;}
.main li em{font-size: 9px; position: relative;top: -5px;}

.showbox{position: absolute;left: 10px;top: 0; } 
.opabox{ width: 100%; height: 100%; position: absolute;left: 10px;top: 0; background: rgba(0,0,0,0.5); filter:alpha(opacity:50);} 
.msgbox{ position:relative; left: 10px;  line-height: 16px; padding: 0 4px; color: #fff;} 

.showboxb{ width: 100%; position: absolute;left:0;bottom: 0; } 
.opaboxb{ width: 100%; height: 100%; position: absolute;left: 0;bottom: 0; background: rgba(0,0,0,0.5); filter:alpha(opacity:50);} 
.msgboxb{ position:relative; left: 0;  line-height: 16px; color: #fff; line-height: 30px; text-align: center;} 

.main li img{ width: 220px;  vertical-align: middle; transition: transform 0.3s ease 0s; display: block;}
.main li img:hover{ transform:scale(1.1,1.1); }
.main li b{ font-size: 16px; color: #f60; font-family: "Microsoft Yahei"; margin-right: 4px;}
.main li p{text-align: right;}
.main li h3{ line-height: 22px;}
.main li i{ font-size: 9px; color: #adadad; text-decoration: line-through; padding-right: 6px;}


.guess{height: 251px; margin-top: -300px; overflow: hidden;}
.guess .aBtn{ background:url(../img/guess.png) no-repeat -1px -48px; width: 40px; height: 20px;position:absolute;left: 50%; top: 0; margin-left: -20px;}
.guess h2{ margin-bottom: 10px; }
.guess h2 em{ background-position:  -32px -32px; width: 10px; height: 10px;  margin-left: 5px;}
.choose{ position: absolute; right: 0; bottom: -102px;width: 260px; height: 100px; border: 1px solid #999; background: #fff; display: none;}
.guess .choose_list a{ float: left; width: 71px; height: 22px; background: #74A2DE; line-height: 22px; text-align: center; color: #fff;}
.aChoose_spanhover{ border-color: #999; background: #fff; height: 23px;}
.guess ul{ width: 1200px;}
.guess li{ height: 175px; width: 220px; position: relative; margin-right: 20px;}

.guess li p{ height: 37px; padding-top: 6px;}

/*特卖汇*/
.special ul{ width: 920px; float: left;}
.special li a{position: relative;}
.special h2 b{left:18px;}
.special h2 em,.ticket h2 em{background:url(../img/bg_line.png) no-repeat -131px -178px; width: 9px; height: 7px;margin-left: 5px;}
.special_content{ border: 1px solid #e0e0e0; border-top: none; padding: 15px 0 5px 19px;}
.special_main{ padding-right: 19px;}
.special_content .special_more{ float: right; margin-right: 0;}
.special_r{ margin-top: 10px; position: relative;}


.special dt,.internation_content_main dt{ float: left; background: #3983E5; padding: 0 5px; height: 20px; line-height: 20px; color: #fff; 
	text-align: center; margin-right: 23px; border-radius: 4px;}
.special dd,.internation_content_main dd{line-height: 20px;width: 100%;}
.special dd a,.internation_content_main dd a{ float:left;color: #3983E5;margin-right: 33px;}
.special li{ margin-top: 10px; margin-right: 10px;}
.special .opabox{ background-color: #f60;}
.special h3{}
.special p{ padding: 6px 0 11px; }


/*国际酒店*/

.internation h2{ padding-bottom: 10px;} 
.internation_content,.ticket_content{border: 1px solid #e0e0e0; border-top: none; padding: 0 19px;}
.internation_content_l{ float: left; width: 210px; border-right: 1px dashed #a3a3a3;}
.internation_content_main{ float: right; width: 910px; padding-left: 19px; padding-bottom: 15px;}


.internation_content_l dt{ line-height: 34px; padding-top: 4px; color: #333; font-weight: bold;}
.internation_content_l a{ display: block; line-height: 32px; color: #666;}

.internation_content_main dl{ margin-top: 15px;}
.internation_content_main dd{width:100%;}
.internation_content_main ul{ width: 690px; float: left;}
.internation_content_main li{margin-top: 10px; margin-right: 10px;}
.internation_content_main li a{ width: 220px; height: 160px;}
.internation_content_main li a

.internation_r{ position: relative; top: 10px;}

.showboxc{ width: 112px;height: 112px;position: absolute; border-radius: 50%; left:50%;top: 50%; margin-left: -56px; margin-top: -56px;  } 
.opaboxc{ width: 100%; height: 100%;  border-radius: 50%;position: absolute;left:50%;top: 50%; margin-left: -56px; margin-top: -56px;  background: rgba(0,0,0,0.5); filter:alpha(opacity:50);} 
.msgboxc{ position:relative; left: 0; line-height: 16px; color: #fff; line-height: 30px; text-align: center; width: 92px; padding-left: 10px; padding-top: 22px;} 
.msgboxc h4{ font-size: 18px; font-weight: bold;}
.showboxc .msgboxc p{ border-top: 1px solid #ccc; text-align: center;}
.msgbox p em{font-size: 9px; position: relative;top: -5px;}

/*特价机票*/
.ticket_content{ padding:15px 19px;}
.ticket_l{ float: left;}
.ticket_r{ float: right; width: 450px;}
.ticket_l li{ float: left; position: relative; margin-right: 10px; margin-bottom: 10px;}
.ticket_l li img{ width: 128px;height: 50px;}
.ticket_l li .pshow{ display: none;}
.ticket_l li:hover .pdark{ display: none;}
.ticket_l li:hover .pshow{ display: block;}

.ticket_r a{position: relative;display: block;}
.ticket_r img{}
.ticket_r_l{ width: 220px; float: left;}
.ticket_r_r{ float: right;}
.ticket_r_l img{ width: 220px;  vertical-align: middle; transition: transform 1s ease_in 0s; display: block;}
.ticket_r_l img:hover{ transform:scale(1.01,1.01); }

/*国际租车*/
.car_content_main dl{ width: 910px;}
.car_content_main ul{ width: 910px;}
.car_content_main li .img_txt{ margin-top: -40px;}
.car_content_main li i{ text-decoration: none;}
.car_content_main li h4{ line-height: 26px;}
.car_content_main li span{ text-align: right; float: right;}

/*当地玩乐海外*/
.overseas_l{ height: 220px;}
.overseas_l dd a{ float: left; line-height: 18px;padding-top: 12px;}
.overseas dd span{ color: #ececec; padding-right:10px; margin-left: 11px;}

/*全球购*/
.go li .img_txt i{display: inline-block; padding-top: 8px;}

/*目的地攻略*/
.goal li{ position: relative;}
.goal img{width:220px; height:155px;}
.goal_l dd a{ display: block; float: none;}

/*旅行服务*/
.travelServe{ margin-bottom: 28px;}
.travelServe h2{ padding-bottom: 10px;margin-bottom: 10px;}
.travelServev .travelServe_main{ overflow: hidden;}
.travelServe_main ul{ width: 1190px;}
.travelServe_main li{ float: left; width: 384px; height: 144px; border: 1px solid #e0e0e0; margin-right: 10px;}

.ts_lit {padding: 15px 0 17px 40px; border-bottom: 1px solid  #e0e0e0; }
.ts_lit a{ float: left; width: 70px; height: 70px; border-radius: 50%; background: #ABCBF5; text-align: center;}
.ts_lit span{ background: url(../img/supply.png) no-repeat; display:block; background-size: 100%;
}
.cj_ico span{width: 47px;height: 34px; margin: 16px 0 0 12px; }
.ts_lit div{ float: left; padding-left: 20px;}
.ts_lit h4 { font-size: 16px; line-height: 25px; color: #333; padding-bottom: 4px; font-family: "Microsoft Yahei";}
.ts_lit p { color: #666; line-height: 18px;}
.ts_lib { padding: 8px 0; line-height: 24px;}
.ts_lib a{ float: left; width: 95px;   color: #333; border-right: 1px dashed #a3a3a3;}
.ts_lib a:first-child{ box-sizing:border-box;}

.ts_lib a:last-child{ border-right: none;}
.ts_lib a i{ float:left;background: url(../img/supply_icon.png) no-repeat; width: 24px; height: 24px;margin:0 7px 0 20px;}
.ts_lib a:nth-child(3) i{ margin-left: 9px;}
.ts_lib a b{ float: left;}

.qz_ico a{ background: #CBE2B3;}
.qz_ico a span{ background-position: 0 -38px; width: 47px; height: 46px;margin: 12px 0 0 12px;}
.bx_ico a span{background-position: 0 -89px; width: 47px;height: 48px;margin: 12px 0 0 12px;}
.bx_ico a{ background: #F6DBB9;}

.qz_b a i{width: 24px; height: 24px;}
.qz_b a:first-child i{background: url(../img/japan.png) no-repeat; }
.qz_b a:nth-child(2) i{background: url(../img/korea.png) no-repeat;}
.qz_b a:nth-child(3)  i{background: url(../img/USA.png) no-repeat; margin-left:20px;}
.qz_b a:last-child i{background: url(../img/au.png) no-repeat; margin-left: 9px;}

.bx_b a{ width: 126px;}
.bx_b  a:first-child i{background: url(../img/meiya.png) no-repeat; }
.bx_b  a:nth-child(2) i{background: url(../img/pingan.png) no-repeat;}
.bx_b  a:last-child i{background: url(../img/au.png) no-repeat; margin-left: 9px;}

/*flink*/
.flink {-webkit-box-sizing:border-box; border: 1px solid #e0e0e0; height: 344px;}

.flink_co{ height: 98px; border-bottom: 1px solid #e0e0e0;}
.flink_co h4{ font-size: 15px; line-height: 35px; color: #333; font-family: "Microsoft Yahei";}

.flink_coy{float: left; padding: 6px 0 15px 20px; width: 198px; border-right: 1px solid #e0e0e0; }

.flink_coy h4 a{ color: #b6b6b6; font-size: 12px;float: right; margin-right: 10px; font-family: "Arial" }
.flink_coy p{ line-height:21px; color: #666;}
.flink_cob{float: left;padding: 6px 0 0 20px; }

.flink_cob_ico a{ float: left; width: 77px; height: 35px; background: url(../img/partner.png) no-repeat; padding-right:38px; margin-left: 39px; display: inline; /*padding: 0 38px 0 39px;*/border-right: 1px dashed #e0e0e0;}
.flink_cob_ico a:first-child{ background-position:0 0; }
.flink_cob_ico a:nth-child(2){ background-position:0 -33px; }
.flink_cob_ico a:nth-child(3){ background-position:0 -66px; }
.flink_cob_ico a:nth-child(4){ background-position:0 -102px; }
.flink_cob_ico a:nth-child(5){ background-position:0 -132px; }
.flink_cob_ico a:last-child{ background-position:0 -176px; border-right: none; }

.flink_b{ padding: 0 15px; margin-bottom: 40px;}
.flink_b dl{  border-bottom: 1px dashed #ccc;text-align: left; }
.flink_b dl:first-child{ padding: 11px 0 5px; }
.flink_b dl:first-child dt{ vertical-align: top; float: left;line-height: 24px;}
.flink_b dl:first-child dd{ float: left;line-height: 24px;}
.flink_b dt{ float: left;  color: #666; width: 80px;line-height: 34px;  font-weight: bold;}
.flink_b dd{line-height: 34px; float: left;}
.flink_b dd a{ float: left; width: 89px; color: #b6b6b6; }
.flink_b dl:last-child{ border-bottom: none;}

/*footer*/
.footer{ padding-top: 28px; margin-bottom: 28px;}
.footer li{ float: left; border-right: 1px solid #dedede; height: 150px; width: 210px;}
.footer li h3{ font-size: 16px; color: #666;padding-bottom: 10px; font-family: "Microsoft Yahei";}
.footer li:first-child{ width: 278px;}
.footer li:first-child h4{ font-size: 16px; font-weight: bold; font-family: "Microsoft Yahei"; line-height: 22px;}
.footer li:first-child p{  font-size: 12px; line-height: 18px;}
.footer li:first-child span{  float: left; width: 36px; height: 36px; margin-right: 9px;}

.footer_price{ margin-bottom: 15px;}
 .footer_price h4{ color: #ff9913;}
.footer_price span{  background: url(../img/partner.png) no-repeat right -211px;  }
.footer_serve h4{ color: #2577E3;}
 .footer_serve span{ background: url(../img/partner.png) no-repeat  right -261px;  }

.footer li:nth-child(2),.footer li:nth-child(3){ padding: 0 44px 0 60px;}
.footer li:last-child{ padding-left:60px; border-right: none;}
.footer li:last-child i{ width: 0; height: 0; border: 5px solid transparent; border-top-color: #3983E4; position: relative;top:8px;left: 6px;}
.footer li:nth-child(2) a,.footer li:nth-child(3) a,.footer li:last-child a{ float: left; width: 105px; text-align: left; line-height: 26px;}

/*copyright*/
.copyright{ text-align: center; line-height: 20px;}

.honour_wrap{display: inline-block;padding-top: 18px;text-align: left;}
.honour_wrap a{ float: left;margin: 0 5px;width: 88px;height: 32px;border: 1px solid #d1d1d1;border-radius: 2px;font: 12px/32px Simsun;color: #666;overflow: hidden;
background: url(../img/honour.png) no-repeat #fff;text-indent: 36px;}
.honour_wrap span{ float: left;background: url(../img/honour.png) no-repeat  0 -155px #fff;width: 128px;float: left;margin: 0 5px;
height: 32px;border: 1px solid #d1d1d1;border-radius: 2px;font: 12px/32px Simsun;color: #666;overflow: hidden;text-indent: -99em;}
.honour_wrap a:first-child{background-position: -88px -50px;}
.honour_wrap a:nth-child(2){background-position: -88px -85px;}
.honour_wrap a:nth-child(3){background-position: 0 -50px;text-indent: -99em;}
.honour_wrap a:nth-child(4){background-position: -88px -118px;text-indent: 0;padding: 2px 0 2px 37px;width: 51px;height: 28px;line-height: 1.2;}
.honour_wrap a:nth-child(5){background-position: 0 -84px;text-indent: -99em;}
.honour_wrap a:nth-child(6){background-position: 0 -118px;text-indent: -99em;}
.honour_wrap a:nth-child(7){background-position: 0 -193px;width: 90px;text-indent: -99em;}






























