@charset "utf-8";
/* CSS Document */

/*清除默认样式*/
body,div,p,h1,h2,h3,h4,h5,h6,span,ul,ol,li,dl,dd,dt,a,i,strong,b,em img,form,input,select,option{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; line-height:100%; font-size:100%;}
body{ font-size:12px;}
li{ list-style-type:none;}
a{text-decoration:none; color:#666; cursor:pointer;}
img{ display:block;}
a img{ border:none;}
i,em{ font-style:normal;}

.clearFix:after{ clear:both; display:block; content:" ";}
.clearFix{*zoom:1;}